.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0rem 2rem 2rem 6rem;
  border-radius: 3.5rem 3.5rem 0 0;
  color: #fff;
  min-height: 28rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Logo {
  filter: brightness(0) invert(1);
  width: 20rem;
}

.Logo-footer {
  filter: brightness(0) invert(1);
  width: 10rem;
}

h1 {
  color: #291507;
}

.header p {
  font-size: 1.5rem;
  max-width: 20rem;
}

#form button {
  height: 1.6rem;
  background: none;
  margin-left: -2rem;
  z-index: 999;
  border: none;
  cursor: pointer;
}

#form button img {
  width: 1rem;
}

#input {
  border-radius: 4rem;
  border: none;
  width: 18rem;
  height: 1.6rem;
  padding: 1rem;
}

#input-mobile {
  border-radius: 4rem;
  border: 1px solid #291507;
  width: 15rem;
  height: 1.6rem;
  padding: 1rem;
}

#form-mobile {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.btn-mobile {
  background: none;
  border: 0;
  cursor: pointer;
}

.btn-mobile img {
  width: 2rem;
}

.btn-mobile-cancel {
  background-color: red;
  color: white;
  border: 0;
  cursor: pointer;
  padding: 0.7rem 1.4rem;
  border-radius: 1rem;
}

#input::placeholder {
  color: #291507;
  opacity: 1;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.top-breeds,
.top-breeds p {
  margin: 0;
}

.top-breeds {
  padding: 2rem 2rem 2rem 6rem;
  background-color: #e3e1dc;
  color: #291507;
  border-radius: 0 0 3.5rem 3.5rem;
  margin-bottom: 2rem;
}

.top-breeds h1 {
  max-width: 22rem;
}

.borderline {
  margin-top: 0.4rem;
  border-radius: 77px;
  height: 0.2rem;
  width: 6rem;
  background-color: #291507;
}

.top-breeds-link {
  color: #291507;
  text-decoration: none;
  font-weight: bold;
  opacity: 0.6;
}

.end {
  text-align: end;
}

.why-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 7rem;
}

.why-section-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 6rem;
  margin-bottom: 2rem;
}
.why-section-info h1 {
  font-size: 3rem;
  max-width: 27rem;
}

.why-section-imgs {
  display: flex;
  gap: 1rem;
}

.why-section-imgs-2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
}

.why-section-imgs div img {
  max-width: 100%;
}

.footer {
  background-color: black;
  display: flex;
  justify-content: space-between;
  color: white;
  margin-top: 6rem;
  padding: 2rem 6rem;
  border-radius: 3.5rem 3.5rem 0 0;
}

.footer p a {
  color: white;
  font-weight: bold;
}

.top-ten-breed-title {
  font-size: 1.8rem;
  color: #291507;
}

.top-breed-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 6rem;
}

.top-breed-container img {
  border-radius: 1rem;
}

.top-breed-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.single-breed {
  display: flex;
  gap: 3rem;
  margin-top: 3rem;
  padding-left: 6rem;
}

.single-breed-img {
  max-width: 100%;
  height: auto;
  border-radius: 3.5rem;
}

.top-four {
  display: flex;
  gap: 3rem;
  margin-top: 1.5rem;
}

.top-four a {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-decoration: none;
  color: #291507;
}

.top-four a img {
  width: 100%;
  border-radius: 1.5rem;
  margin-bottom: 1rem;
}

.top-four a p {
  font-weight: bold;
  font-size: 1.3rem;
}

.mobile-open-search {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  z-index: 1000;
  max-width: 17rem;
}

.why-cats-page {
  padding-left: 6rem;
}

.why-cats-page p {
  max-width: 70rem;
}

@media (max-width: 500px) {
  .header,
  .top-breeds {
    padding-left: 1.5rem;
  }
  .why-section {
    grid-template-columns: 1fr;
  }
  .why-section-info {
    padding-left: 1.5rem;
  }
  .why-section-info h1 {
    font-size: 2rem;
  }
  .footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
  }
  .top-breed-container {
    flex-direction: column;
  }
  .single-breed {
    flex-direction: column;
    padding: 1.5rem;
  }
  #form {
    display: none;
  }
  .top-four {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .mobile-open-search {
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1rem;
    border-radius: 4rem;
    border: none;
    width: 18rem;
    height: 3rem;
    font-size: 1rem;
  }
  .why-cats-page {
    padding: 1.5rem;
  }

  .why-cats-page img {
    width: 100%;
  }
}
