@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 1rem 4rem;
  margin-bottom: 0;
}

@media (max-width: 500px) {
  body {
    margin: 1rem 1rem 0rem 1rem;
  }
}
